*{
  margin: 0 auto;
  padding: 0;
}

body{
  font-family: Veranda, Geneva, sans-serif;
  background: #dfdfdf;
}

header{
  width: 100%;
  height: 50px;
  background: #aaaaaa;
}

h1{
  margin: 0 auto;
  padding: 5px 0 0 20px;
}

#info{
  text-align: center;
}

#info p{
  font-size: 1.8em;
  padding: 15px 0;
}

#playArea{
  width: 75%;
  height: 700px;
  background: #aaaaaa;
  margin-top: 40px;
  margin-bottom: 40px;
}

#overlay{
  width:100%;
  height:100%;
  background: radial-gradient(#666666aa,#222222aa);
}

#playArea button{
  width: 120px;
  height: 50px;
  margin-left: 47%;
  margin-top: 23%;
  font-size: 2em;
  background: #444444;
  color: #fef;
}

#box{
  position: fixed;
  width:100px;
  height:100px;
  background-color: blue;
  display: none;
}

#scoreboard{
  border: 1px solid black;
  border-spacing: 0px;
}

td{
  width: 140px;
  text-align: center;
  padding: 5px;
}

.odd{
  background: #aaaaaa;
}

.even{
  background: #868686;
}
